<h1>Cabecera de la página</h1>
<h2>Subtitulo de la página</h2>
<div class="rutas">
    <a [routerLink]="['/sobre']" routerLinkActive="activa">Sobre Mi</a>
    <a [routerLink]="['/informacion']" routerLinkActive="activa">Información</a>
    <a [routerLink]="['/contacto']" routerLinkActive="activa">Contacta con nosotros</a>
</div>
<router-outlet></router-outlet>

<div class="botones">
    <button (click)="onClick('sobre')">Sobre mi</button>
    <button (click)="onClick('informacion')">Informacion de la pagina</button>
    <button (click)="onClick('contacto')">Contacta con nosotros</button>
</div>